<template>
    <div class="home-container">
        <div class="home-banner">
            <img src="../../assets/images/home-banner.png" />
        </div>
        <div class="nav-container">
            <div class="width_1200">
                <div class="nav-main clearfix">
                    <div class="nav-select clearfix">
                        <span class="select-label_text">选择地区：</span>
                        <el-select v-model="cityValue" style="width: 292px" placeholder="请选择" @change="changeList">
                            <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                            >
                            </el-option>
                        </el-select>
                    </div>
                    <div class="nav-box clearfix">
                        <div class="nav-item" @click="seeVideo">
                            云升旗
                        </div>
                        <div class="nav-item">
                            <a href="#anchor1" @click.stop="onMito(2)">云寄语</a>
                        </div>
                        <div class="nav-item">
                            <a href="#anchor2" @click.stop="onMito(3)">云课堂</a>
                        </div>
                        <!-- <div class="nav-item">
                            <a href="#anchor3" @click.stop="onMito(0)">云展播</a>({{num3}})
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="home-sub-banner">
            <img src="../../assets/images/banner.png" />
        </div>
        <div class="home-main">
            <div class="home-wrap width_1200 clearfix">
                <div class="home-form">
                    <div class="form-btn_box">
                        <div class="form-title_text" id="anchor1">云寄语</div>
                        
                    </div>
                    <div class="home-forms">
                        <el-form :model="formModel" :rules="rules" label-position="top" label-width="80px" ref="ruleForm">
                            <el-form-item prop="name" label="姓名">
                                <el-input v-model="formModel.name" placeholder="请输入姓名"></el-input>
                            </el-form-item>
                            <el-form-item prop="content" label="内容">
                                <el-input v-model="formModel.content" placeholder="请输入内容" type="textarea"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <div class="publish-button" @click="submitForm('ruleForm')">
                                    发布寄语
                                </div>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
                <div class="home-list">
                    <div class="list-title">
                        精彩寄语
                        <span class="common-title_more" @click="moreClass" style="float: right;color: #68C8FB; font-size: 18px;line-height: 50px;">更多>>></span>
                    </div>
                    <div class="list-main">
                        <div v-for="(item, k) in listData" :class="{ active: k%2 ===0 }" :key="k" class="list-item">
                            {{ item.name }}：{{ item.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-school">
            <div class="width_1200">
                <div class="common-title_item clearfix">
                    <div class="common-title_item_text" id="anchor2">云课堂</div>
                    <span class="common-title_more" @click="moreClass">更多>>></span>
                </div>
                <div class="home-carousel">
                    <div class="carousel-current">
                        <video-player :playsinline="true" :options="playerOptions" />
                    </div>
                    <div  class="movie_main_son_bot">
                        <div class="movie_main_son_bot_video" @click="playVideo(item.url,index)" :class="activeFlag == index ? 'active' : 'movie_main_son_bot_video' " v-for="(item,index) in videoArr" :key="index">
                            <video  id="videoPlay1" width="196" height="98%">
                                <source :src="item.url">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="common-count">
            <div class="width_1200">
                <div class="common-title_item clearfix">
                    <div class="common-title_item_text" id="anchor3">各地统计</div>
                </div>
                <div class="map">
                    <img src="../../assets/images/map.png" />
                    <ul class="mapNum">
                        <li v-for="(item,index) in options" :key="index">{{item.total}}票</li>
                        <!-- <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li> -->
                    </ul>
                </div>
                <div class="commonCenter" v-if="false">
                    <div class="newecharts" id="mapEcharts" @click="clickmap" style="width:600px;height:600px;margin: 0 auto;"></div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>郑州市精神文明建设指导委员会办公室制作</p>
            <p><i class="el-icon-phone"></i>电话：0371-67187972</p>
            <p>备案号：豫 ICP 备 09042791 号 郑州市互联网违法和不良信息举报中心</p>
        </footer>
        <el-dialog
            title=""
            :visible.sync="visible"
            >
            <video-player :playsinline="true" :options="videoOptions" />
        </el-dialog>
    </div>
</template>
<style lang="less" scoped>
@import url('./style');
</style>
<script>
//import { swiper, swiperSlide } from 'vue-awesome-swiper'

import * as echarts from "echarts";

export default {
    // components: {
    //     swiper,
    //     swiperSlide
    // },
    computed: {
        swiper() {
            return this.$refs.mySwiper.swiper;
        }
    },
    mounted() {
        var that = this;
        this.$nextTick(() => {
           // that.initMap(that.name, that.code)
        });
        this.getList()
    },
    methods: {
        changeList(val) {
            this.getList(val)
        },
        getList(val) {
            this.$axios.get(`/api/admin/index/comments?current=1&size=10&region=${ val || this.cityValue }`).then((res) => {
                const { code = -1, data = {} } = res.data || {}
                if (code === 0) {
                    if (data.total>4) {
                        const lists = data.records.filter((o, k) => { return k < 4 });
                        this.listData = lists
                    } else {
                        this.listData = data.records || []
                    }
                }
            })
        },
        moreClass(){
            this.$message.error('暂无更多数据！');
        },
        playVideo(url,index) {
            this.activeFlag = index;
            this.playerOptions['sources'][0]['src'] = url
            this.playerOptions.poster = '../../assets/images/banner.png'
        },
        // 查看视频
        seeVideo() {
            if (this.cityValue) {
                this.visible = true;
                this.onMito(1);
                return;
            }
            this.$message.error('请选择地区后再试');
        },
        // 提交寄语
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
            if (valid) {
                if (this.cityValue) {
                    const paramsData = { ...this.formModel, region: this.cityValue };
                    console.log(paramsData, 'kkjkjj')
                    this.$axios.post('/api/admin/index/saveComment', paramsData).then((res) => {
                        const { code, msg = '' } = res.data || {}
                        if (code === 0) {
                            this.$message({
                                message: '保存成功',
                                type: 'success'
                            });
                        } else {
                            this.$message.error(msg || '请稍后再试');
                        }
                    })
                }
            } else {
                this.$message.error(msg || '请稍后再试');
                return false;
            }
            });
        },
        changeVideo() {
            this.playerOptions.sources.src = 'http://222.143.52.65:8881/main/static/media/baihua.eda3f2d.mp4'
            this.playerOptions.poster = '../../assets/images/banner.png'
        },

        clickmap(val) {
            var _this = this;
            this.mapEcharts.on("click", function (param) {
                var name = param.data.properties.name;
                var code = param.data.properties.adcode;
                _this.initMap(name, code + '')
            })
        },
        onMito(num) {
            if (this.cityValue) {
                this.$axios.post(`/api/admin/index/saveOperation`, { region: this.cityValue, type: num }).then((res) => {})
            } else {
                this.$message.error('请选择地区后再试');
            }
        },
        initMap(name, code) {
            var _this = this;
            _this.$emit('clickmap', { code: code, name: name })

            this.$axios.get('/map.json').then(res => {
                console.log(res)
                echarts.registerMap(name, res.data, {}); //引入地图文件
                var mapData = res.data.features;

                for (let i = 0; i < mapData.length; i++) {
                    mapData[i].name = mapData[i].properties.name;
                    mapData[i].center = mapData[i].properties.center;
                    mapData[i].value = Math.floor(Math.random() * 10 + 1);
                }
                console.log(mapData, 'lkkk')
                _this.mapoption = {
                    tooltip: {
                        show: false,
                        trigger: "item",
                    },
                    layoutCenter: ['48%', '44%'], //距离左右，上下距离的百分比
                    layoutSize: 600,
                    series: [{
                        name: name,
                        type: "map",
                        map: name, //地图名称
                        coordinateSystem: "geo", // series坐标系类型
                        data: mapData, // series数据内容
                        label: {
                            show: true,
                            color: "#fff",
                            fontSize: 12,
                            formatter: function (res) {
                                return `${res.name} \n ${res.value}`
                            }
                        },
                        itemStyle: {
                            normal: {
                                borderWidth: 2, //边际线大小
                                borderColor: "#00ffff", //边界线颜色
                                areaColor: "rgb(50,131,127)", //默认区域颜色
                            },
                            emphasis: {
                                show: true,
                                areaColor: "rgba(48,131,182)", //鼠标滑过区域颜色
                                label: {
                                    show: true,
                                    textStyle: {
                                        color: "#000",
                                    },
                                },
                            },
                        },
                    },],
                };
                _this.mapEcharts = echarts.init(document.getElementById("mapEcharts"));
                _this.mapEcharts.setOption(_this.mapoption);


            })




        },
    },
    data() {
        let vm = this;
        return {
            visible: false,
            listData: [],
            activeFlag: 0,
            num1:'1',
            num2:'2',
            num3:'3',
            videoArr:[
                {
                    url:'http://222.143.52.65:8881/main/static/media/yongping.f5b6286.mp4'
                },
                {
                    url:'http://222.143.52.65:8881/main/static/media/84zhong.3576e3e.mp4'
                },
                {
                    url:'http://222.143.52.65:8881/main/static/media/longzihu.6a0d716.mp4'
                },
                {
                    url:'http://222.143.52.65:8881/main/static/media/baihua.eda3f2d.mp4'
                },
                {
                    url:'http://222.143.52.65:8881/main/static/media/16zhong.dc70e7d.mp4'
                },
                {
                    url:'http://222.143.52.65:8881/main/static/media/gongan.a7900b1.mp4'
                }
            ],
            videoOptions: {
                playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
                autoplay: false, //如果true,浏览器准备好时开始回放。
                muted: false, // 默认情况下将会消除任何音频。
                loop: false, // 导致视频一结束就重新开始。
                preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
                language: 'zh-CN',
                aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
                fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
                sources: [{
                    type: "",//这里的种类支持很多种：基本视频格式、直播、流媒体等，具体可以参看git网址项目
                    src: require('../../assets/video.mp4') //url地址
                }],
                poster: "../../assets/logo.png", //你的封面地址
                // width: document.documentElement.clientWidth, //播放器宽度
                notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
                controlBar: {
                    timeDivider: true,
                    durationDisplay: true,
                    remainingTimeDisplay: false,
                    fullscreenToggle: true  //全屏按钮
                }
            },
            playerOptions: {
                playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
                autoplay: false, //如果true,浏览器准备好时开始回放。
                muted: false, // 默认情况下将会消除任何音频。
                loop: false, // 导致视频一结束就重新开始。
                preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
                language: 'zh-CN',
                aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
                fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
                sources: [{
                    type: "",//这里的种类支持很多种：基本视频格式、直播、流媒体等，具体可以参看git网址项目
                    src: "http://222.143.52.65:8881/main/static/media/84zhong.3576e3e.mp4" //url地址
                }],
                poster: "../../assets/logo.png", //你的封面地址
                // width: document.documentElement.clientWidth, //播放器宽度
                notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
                controlBar: {
                    timeDivider: true,
                    durationDisplay: true,
                    remainingTimeDisplay: false,
                    fullscreenToggle: true  //全屏按钮
                }
            },

            mapoption: {},
            mydata: [],
            mapEcharts: null,
            name: '郑州市各区统计',
            code: '410000',
            options: [
                        {
                        "label": "二七区",
                        "value": "1",
                        "total": "0"
                        },
                        {
                        "label": "中原区",
                        "value": "2",
                        "total": "0"
                        },
                        {
                        "label": "金水区",
                        "value": "3",
                        "total": "12"
                        },
                        {
                        "label": "管城区",
                        "value": "4",
                        "total": "0"
                        },
                        {
                        "label": "惠济区",
                        "value": "5",
                        "total": "0"
                        },
                        {
                        "label": "上街区",
                        "value": "6",
                        "total": "0"
                        },
                        {
                        "label": "巩义市",
                        "value": "7",
                        "total": "0"
                        },
                        {
                        "label": "登封市",
                        "value": "8",
                        "total": "0"
                        },
                        {
                        "label": "荥阳市",
                        "value": "9",
                        "total": "0"
                        },
                        {
                        "label": "新密市",
                        "value": "10",
                        "total": "0"
                        },
                        {
                        "label": "新郑市",
                        "value": "11",
                        "total": "0"
                        },
                        {
                        "label": "中牟县",
                        "value": "12",
                        "total": "0"
                        },
                        {
                        "label": "经开区",
                        "value": "13",
                        "total": "0"
                        },
                        {
                        "label": "高新区",
                        "value": "14",
                        "total": "0"
                        },
                        {
                        "label": "郑东新区",
                        "value": "15",
                        "total": "0"
                        },
                        {
                        "label": "航空港区",
                        "value": "16",
                        "total": "0"
                        }
                        ],
            formModel: {
                name: '',
                content: ''
            },
            rules: {
                name: [
                    { required: true, message: '请输入姓名', trigger: 'blur' },
                ],
                content: [
                    { required: true, message: '请输入内容', trigger: 'blur' }
                ]
            },
            cityValue: '1'
        }
    },

}
</script>