.home-container {
    .common-title_button {
        width: 338px;
        height: 89px;
        line-height: 89px;
        text-align: center;
        background-image: url(../../assets/images/common-button_img.png);
        margin: 0 auto;
        background-size: cover;
        font-size: 36px;
        font-weight: bold;
        color: #FFFFFF;
    }
    .form-btn_box {
        width: 421px;
        height: 68px;
        background-image: url(../../assets/images/form-title_bg.png);
        .form-title_text {
            text-align: left;
            padding-left: 69px;
            font-size: 34px;
            color: #fff;
        }
    }
    .common-button {
        width: 200px;
        height: 32px;
        line-height: 32px;
        background-color: red;
        text-align: center;
        margin: 0 auto;
    }
    .home-sub-banner {
        position: relative;
        z-index: 200;
        top: -67px;
    }
    .home-banner {
        position: relative;
        z-index: 20;
        img {
            max-width: 100%;
        }
        .search-input_box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            .search-input_html {
                width: 340px;
            }
            .search-input {
                width: 440px;
                height: 58px;
                float: right;
                position: relative;
                right: -100px;
                .el-input__inner {
                    height: 58px;
                    line-height: 58px;
                }
                &>div{
                    float: left;
                }
            }
            .search-button {
                width: 100px;
                height: 58px;
                line-height: 58px;
                background-color: #B10100;
                color: #fff;
                text-align: center;
            }
        }
    }

    .nav-container {
        background-color: #9D0917;
        margin-top: -10px;
        padding: 20px 0;
        position: relative;
        z-index: 300;
        .nav-main {
            &>div{
                float: left;
            }
            .nav-select {
                position: relative;
                top: 12px;
                .select-label_text {
                    font-size: 30px;
                    color: #FFF3F1;
                    vertical-align: sub;
                }
            }
        }
        .nav-box {
            &>.nav-item {
                float: left;
                padding: 8px 20px;
                font-size: 38px;
                color: #fff;
                cursor: pointer;
                img {
                    width: 20px;
                    height: 20px;
                    vertical-align: bottom;
                }
                a{
                    color: #fff;
                }
            }
        }
    }

    .home-main {
        // background-image: url(../../assets/images/home-main_background.png);
        margin-top: -67px;
        .common-items_title {
            padding: 150px 0 100px;
        }
        .home-wrap {
            padding-top: 30px;
            display: table;
            width: 1200px;
            &>div{
                display: table-cell;
            }
            // &>div {
            //     float: left;
            //     width: 50%;
            // }

            .common-btn_box {
                padding: 60px 0 30px 0;
            }
            .home-forms {
                background-color: #fff;
                padding: 0 80px 2px 30px;
                box-sizing: border-box;
            }
            .home-form {
                .form-item {
                    margin: 10px 0;
                }

                .publish-button {
                    width: 190px;
                    height: 58px;
                    line-height: 58px;
                    text-align: center;
                    background-color: #F84C43;
                    color: #fff;
                    border-radius: 10px;
                    font-size: 30px;
                    margin: 0 auto;
                    cursor: pointer;
                }
            }
        }

        .home-list {
            padding-top: 14px;
            .list-title {
                height: 58px;
                font-size: 30px;
                color: #fff;
                padding-left: 20px;
                text-align: left;
                background-image: url(../../assets/images/remark.png);
                background-repeat: no-repeat;
            }

            .list-main {
                margin-top: 6px;
                .list-item {
                    padding: 24px 23px 20px 28px;
                    text-align: left;
                    background-color: #f5e6d1;
                    &.active {
                        background-color: #F8D9D4;
                    }
                }
                .list-item:nth-child(2n){
                    background: #ffffff;
                }
            }
        }
    }

    .home-school {
        padding-top: 60px;
        .common-btn_box {
            .common-button {
                color: #fff;
            }
        }
    }

    .swiper-slide {
        overflow: hidden;
    }

    .home-carousel {
        margin-top: 10px;
        // margin-left: 25%;
    }

    /deep/ .vjs-poster {
         background-color: transparent !important;
    }

    .swiper-container {
        height: 150px;
        margin-top: 2px;
    }

    .common-count {
        margin-top: 60px;
    }

    .common-count-button {
        width: 200px;
        height: 32px;
        line-height: 32px;
        background-color: red;
        text-align: center;
        margin: 0 auto;
        color: #fff;
    }
    .common-title_item {
        height: 60px;
        background-image: url(../../assets/images/tab-item_bg.png);
        text-align: left;
        font-size: 34px;
        color: #fff;
        .common-title_item_text {
            float: left;
            padding: 18px 0 0 70px;
        }
        .common-title_more {
            float: right;
            color: #68C8FB;
            font-size: 18px;
        }
    }
    .movie_main_son_bot{
        height: 160px;
        border-top: 6px solid #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        box-sizing: border-box;
        .movie_main_son_bot_video{
            width: 200px;
            height: 100%;
            overflow: hidden;
            cursor: pointer;
            box-sizing: border-box;
        }
        .active {
            border: 2px solid #b80901;
        }
    }
    .map{
        text-align: center;
        width: 100%;
        padding-right: 5%;
        box-sizing: border-box;
        margin: 50px 0;
        position: relative;
        .mapNum{
            li{
                color: #B10100;
                position: absolute;
                
            }
            li:nth-child(1){
                top: 45%;
                left: 50.5%;
            }
            li:nth-child(2){
                top: 33%;
                left: 49.5%;
            }
            li:nth-child(3){
                top: 29%;
               left: 55.5%;
            }
            li:nth-child(4){
                top: 43%;
                left: 56%;
            }
            li:nth-child(5){
                top: 19%;
                left: 51.5%;
            }
            li:nth-child(6){
                top: 29%;
                left: 40.5%;
            }
            li:nth-child(7){
                top: 43%;
               left: 31.5%;
            }
            li:nth-child(8){
                top: 78%;
    left: 31.5%;
            }
            li:nth-child(9){
                top: 40%;
                left: 43.5%;
            }
            li:nth-child(10){
                top: 67%;
    left: 45.5%;
            }
            li:nth-child(11){
                top: 75%;
    left: 54.5%;
            }li:nth-child(12){
                top: 43%;
                left: 63.5%;
            }
            // li:nth-child(13){
            //     top: 0px;
            //     left: 2px;
            // }
            // li:nth-child(14){
            //     top: 0px;
            //     left: 2px;
            // }
            // li:nth-child(15){
            //     top: 0px;
            //     left: 2px;
            // }
            // li:nth-child(16){
            //     top: 0px;
            //     left: 2px;
            // }
        }
    }
    .footer{
        width: 100%;
        height: 300px;
        background: #9D0917;
        opacity: 1;
        border-radius: 0px;
        text-align: center;
        padding-top: 65px;
        box-sizing: border-box;
        color: #fff;
        p{
            line-height: 50px;
        }
    }
}