body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea {
	font-family: 'Microsoft YaHei';
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: couriernew, courier, monospace;
}

small {
	font-size: 12px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,
img {
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: ' ';
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}
.width_1200 {
	width: 1200px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.video-js .vjs-big-play-button {
	display: none!important;
	width: 72px;
	height: 72px;
	border-radius: 100%;
	z-index: 100;
	background-color: #ffffff;
	border: solid 1px #979797;
}

.search-input .el-input__inner {
	height: 58px;
	line-height: 58px;
	border-radius: 0;
}

.home-main .el-form--label-top .el-form-item__label {
	float: left;
}