<template>
    <div class="home-container-detail">
        <div class="home-banner">
            <img src="../../assets/images/home-banner.png" />
        </div>
        <div class="detail-main width_1200">
            <div class="detail-breadcrumb">
                <el-breadcrumb>
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>所有寄语</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </div>
        <div class="home-list">
            <div class="list-main">
                <div v-for="(item, k) in listData" :class="{ active: k%2 ===0 }" :key="k" class="list-item">
                    {{ item.name }}：{{ item.content }}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            listData: []
        }
    },
    mounted() {
        this.getList()
    },
    methods: {
        getList() {
            this.$axios.get('/api/admin/index/comments?current=1&size=10&region=1').then((res) => {
                const { code = -1, data = {} } = res.data || {}
                if (code === 0) {
                    if (data.total>0) {
                        this.listData = data.records || []
                    }
                }
            })
        }
    }
}
</script>
<style lang="less">
@import url('./style.less');
</style>