.home-container-detail {
    .home-banner {
        position: relative;
        z-index: 20;
        img {
            max-width: 100%;
        }
        .search-input_box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            .search-input_html {
                width: 340px;
            }
            .search-input {
                width: 440px;
                height: 58px;
                float: right;
                position: relative;
                right: -100px;
                .el-input__inner {
                    height: 58px;
                    line-height: 58px;
                }
                &>div{
                    float: left;
                }
            }
            .search-button {
                width: 100px;
                height: 58px;
                line-height: 58px;
                background-color: #B10100;
                color: #fff;
                text-align: center;
            }
        }
    }
    .list-main {
        margin-top: 6px;
        .list-item {
            padding: 24px 23px 20px 28px;
            text-align: left;
            background-color: #f5e6d1;
            &.active {
                background-color: #F8D9D4;
            }
        }
        .list-item:nth-child(2n){
            background: #ffffff;
        }
    }    
}